footer{
    background-color: rgb(20, 20, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    position: relative;
}

.footer_nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h2{
    font-size: 40px;
    color: white;
    cursor: pointer;
    transition: 250ms;
}

footer h2:hover{
    text-shadow: 2px 1px 1px rgb(255, 0, 0);
}

footer h2 a{
    text-decoration: none;
    color: white;
}

.social_media{
    display: flex;
    gap: 12px;
}

.social_media img{
    transition: 200ms ease-in-out;
}

.social_media img:hover{
    transform: scale(1.1);
}

img{
    width: auto;
    height: 40px;
    cursor: pointer;
}

@media (min-width: 1440px){
    .footer_nav{
        max-width: 1440px;
    }
}

@media (max-width: 600px){
    footer{
        padding: 32px 0;
    }

    .social_media{
        gap: 8px;
    }
}

@media (max-width: 500px){
    footer h2{
        font-size: 32px;
    }

    .social_media img{
        width: 32px;
        height: auto;
    }

    .social_media{
        gap: 4px;
    }
}

@media (max-width: 500px){
    footer{
        padding: 24px 0;
    }

    footer h2{
        font-size: 24px;
    }

    .social_media img{
        width: 24px;
    }
}