header{
    position: fixed;
    top: 0;
    width: calc(100% - 160px);
    padding: 24px 80px;
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 16px 0px rgb(255, 0, 0);
    z-index: 2;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h1{
    font-size: 40px;
    cursor: pointer;
}

h1 a{
    text-decoration: none;
    color: black;
}

label{
    display: flex;
    height: 40px;
    width: 240px;
    transition: 250ms;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

label p{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 120%);
    font-weight: 700;
}

input{
    width: 100%;
    border: 4px solid black;
    border-radius: 16px;
    padding: 0 16px;
}

input:focus{
    outline: none;
}

@media (max-width: 850px){
    label{
        position: relative;
        transform: translate(0);
        left: 0;
    }

    header{
        padding: 24px 64px;
        width: calc(100% - 128px);
    }
}

@media (max-width: 600px){

    h1{
        font-size: 32px;
    }

    label{
        height: 32px;
        width: 180px;
    }

    header{
        padding: 24px 40px;
        width: calc(100% - 80px);
    }
}

@media (max-width: 500px){

    nav{
        justify-content: center;
    }

    h1{
        display: none;
    }

    label{
        height: 40px;
        width: 240px;
    }
}