.pokemon_info_bar{
    width: 95%;
    height: 6%;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
}

.pokemon_info_type{
    width: 32.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 96, 98);
    border-bottom: 4px solid rgb(97, 96, 98);
    cursor: pointer;
}

.pokemon_info_type_border{
    border-bottom: 4px solid rgb(255, 255, 255);
}

.pokemon_info_type:hover{
    border-bottom: 4px solid rgb(255, 0, 0);
}

.about_overlay{
    height: 42%;
    width: 95%;
    background-color: rgb(78, 81, 81);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

hr{
    width: 100%;
    margin: 16px 0;
    height: 2px;
    border: none;
    background-color: rgb(123, 123, 123);
}

h4{
    color: rgb(255, 255, 255);
}

.egg_groups{
    display: flex;
    flex-direction: column;
}

.stats_overlay{
    height: 42%;
    width: 95%;
    background-color: rgb(78, 81, 81);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    td{
        vertical-align: middle;
    }
}

.stats_table{
    width: 90%;
    height: 80%;
}

.table_info{
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 8px 16px;
    line-height: 24px;
    color: rgb(217, 217, 217);
}

td{
    vertical-align: text-top;
}

.stats_bar_td{
    width: 45%;
}

.stats_bar_container{
    width: 100%;
    height: 20px;
    background-color: transparent;
    border-radius: 32px;
    overflow: hidden;
    border: 4px solid black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.stats_bar{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.398);
}

.evo_chain_overlay{
    height: 42%;
    width: 95%;
    background-color: rgb(78, 81, 81);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evo_chain_img{
    width: 96px;
    height: auto;
}

.evo_demand{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
}