.pokemon_cards_overlay{
    min-height: calc(100vh - 272px);
    width: calc(100% - 160px);
    margin: 26px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.pokemon_card{
    width: 200px;
    height: 300px;
    border: 4px solid black;
    border-radius: 16px;
    background-color: red;
    cursor: pointer;
    transition: 250ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.pokemon_card:hover{
    transform: scale(1.02);
}

.name_and_id{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 16px);
    align-items: flex-end;
    background-color: black;
    color: white;
    border-bottom: 4px solid white;

    p{
        font-size: 20px;
    }
}

.pokemon_type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-top: 4px solid rgb(255, 255, 255);

    img{
        width: 160px;
        height: auto;
    }
}

.pokemon_type_container{
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
}

.pokemon_img{
    width: 196px;
    height: auto;
}

@media (max-width: 820px){
    .pokemon_cards_overlay{
        margin: 26px 8px;
        width: calc(100% - 16px);
    }
}

@media (max-width: 600px){
    .pokemon_cards_overlay{
        min-height: calc(100vh - 256px);
    }
}

@media (max-width: 500px){
    .pokemon_cards_overlay{
        min-height: calc(100vh - 221px);
    }
}

@media (max-width: 450px){

    .pokemon_cards_overlay{
        gap: 8px;
    }

    .pokemon_card{
        width: 140px;
        height: 210px;
        border: 2px solid black;
    }

    .name_and_id{
        padding: 6px 8px;
        width: calc(100% - 16px);
        border-bottom: 2px solid white;
    
        p{
            font-size: 14px;
        }

        h3{
            font-size: 14px;
        }
    }

    .pokemon_type{
        gap: 16px;
        border-top: 2px solid rgb(255, 255, 255);
    
        img{
            width: 110px;
            height: auto;
        }
    }

    .pokemon_type_container{
        width: 24px;
        height: 24px;
    }
    
    .pokemon_img{
        width: 140px;
    }

}