.resp_pokemon_overlay_bg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bleur_bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.687);
    z-index: 1;
}

.switch_arrows{
    width: 64px;
    height: auto;
    filter: invert(1);
    transition: 200ms;
    z-index: 2;
}

.switch_arrows:hover{
    transform: scale(1.1);
}

.switch_arrows:active{
    transform: scale(1);
}

.resp_pokemon_overlay{
    width: 400px;
    height: 600px;
    border: 4px solid #1f1f1f;
    border-radius: 16px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: white;
    overflow: hidden;
    margin: 0 24px;
    z-index: 2;
}

.name_and_id_resp_overlay{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: transparent;

    p{
        position: absolute;
        right: 8px;
        font-size: 24px;
    }
}

h2{
    font-size: 32px;
}

.pokemon_img_container_resp_overlay{
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 16px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.pokeball_bg{
    position: absolute;
    width: 220px;
    height: auto;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.2;
}

.pokemon_img_resp_overlay{
    height: 100%;
    width: auto;
    z-index: 1;
    transition: 200ms;
}

.pokemon_img_resp_overlay:hover{
    transform: scale(1.05);
}

.pokemon_img_resp_overlay:active{
    transform: scale(1);
}

.pokemon_type_resp_overlay{
    height: 10%;
    width: 95%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    gap: 8px;

    img{
        border-radius: 16px;
        width: calc(50% - 4px);
        height: 70%;
    }
}

.close_resp_overlay{
    position: absolute;
    left: 8px;
    top: 8px;
    height: 16px;
    filter: invert(1);
}

.resp_arrows{
    display: none;
    filter: invert(1);
    z-index: 2;
}

.resp_arrows img{
    width: 56px;
    height: auto;
}

@media (max-width: 750px){

    .resp_pokemon_overlay{
        margin: 0 8px;
    }

    .switch_arrows{
        width: 56px;
    }
}

@media (max-height: 750px){

    .resp_pokemon_overlay_bg{
        justify-content: flex-end;
    }
    
    .resp_arrows img{
        margin-bottom: 8px;
    }
}

@media (max-width: 550px){

    .resp_arrows{
        display: flex;
        gap: 180px;
    }

    .resp_pokemon_overlay{
        margin: 0 0 24px 0;
    }

    .resp_pokemon_overlay_bg{
        flex-direction: column;
    }

    .switch_arrows{
        display: none;
    }
}

@media (max-width: 500px){
    .resp_pokemon_overlay{
        width: 300px;
        height: 450px;
    }

    .name_and_id_resp_overlay p{
        font-size: 20px;
    }

    .close_resp_overlay{
        height: 12px;
    }
    
    h2{
        font-size: 24px;
    }
}