.main_overlay{
    margin: 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
}

.page_padding{
    padding: 0 10%;
}

.settings_logo{
    width: 64px;
    padding-left: 200px;
    cursor: pointer;
}

.main_container{
    min-height: calc(100vh - 328px);
    padding-top: 40px;
    padding-bottom: 40px;
}

.filter_type_menu img{
    width: 32px;
    cursor: pointer;
}